*{
  box-sizing: border-box;

}
body{
  margin: 0px;
  padding: 0;
}
.ozbekiston{
  margin-bottom: 10px;
  min-height: 100vh;
  background-image:url("./star.png"), linear-gradient(
    to bottom,
    skyblue 30%,
    red 30%,
    red 35%,
    white 35%,
    white 65%,
    red 65%,
    red 70%,
    green 70%
  );
background-size: 20px, auto;
background-repeat:no-repeat
;
background-position: left 20px top 30px;
}
.fransiya{
  min-height: 100vh;
  background-image: linear-gradient(to right,
  blue 33.3%,
   white 33.3% ,
   white 66.6%,
   red 66.6%

  );
  margin-bottom: 10px;
}
.nigeriya{
  min-height: 100vh;
  background-image: linear-gradient(to  right,
  green 33.3%,
   white 33.3% ,
   white 66.6%,
   green 66.6% );
   margin-bottom: 10px;
}
.trin{
  min-height: 100vh;
  background-image: linear-gradient(to left bottom,
  red 40%,
  white 40%,
  white 42%,
  black 42%,
  black 48%,
  white 48%,
  white 50%,
  red 50%
  );
  margin-bottom: 10px;
}
.canada{
  min-height: 100vh;
  background-size: 400px, 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("canada.png"),linear-gradient(to right,
  red 33.3%,
  white 33.3%,
  white 66.6%,
  red 66.6%
  );margin-bottom: 10px;


}
.ispaniya{
  
}